body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:600px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2024 {
  position:absolute;
  left:50px;
  top:10px;
  width:58px;
  height:600px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:292px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2026 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  white-space:nowrap;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2028 {
  position:absolute;
  left:64px;
  top:30px;
  width:31px;
  height:11px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u2030 {
  position:absolute;
  left:68px;
  top:76px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2032 {
  position:absolute;
  left:68px;
  top:121px;
  width:25px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2034 {
  position:absolute;
  left:68px;
  top:169px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2036 {
  position:absolute;
  left:64px;
  top:545px;
  width:31px;
  height:31px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u2038 {
  position:absolute;
  left:71px;
  top:551px;
  width:17px;
  height:19px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u2040 {
  position:absolute;
  left:59px;
  top:581px;
  width:41px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:21px;
}
#u2042 {
  position:absolute;
  left:50px;
  top:620px;
  width:791px;
  height:21px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  word-wrap:break-word;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2044 {
  position:absolute;
  left:137px;
  top:76px;
  width:140px;
  height:31px;
  color:#E4E4E4;
}
#u2045 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  position:absolute;
  left:137px;
  top:109px;
  width:140px;
  height:31px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2048 {
  position:absolute;
  left:182px;
  top:83px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2050 {
  position:absolute;
  left:184px;
  top:117px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  position:absolute;
  left:137px;
  top:142px;
  width:140px;
  height:31px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2054 {
  position:absolute;
  left:182px;
  top:150px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:137px;
  top:175px;
  width:140px;
  height:31px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2058 {
  position:absolute;
  left:181px;
  top:183px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2060 {
  position:absolute;
  left:304px;
  top:71px;
  width:425px;
  height:43px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  word-wrap:break-word;
}
#u2062 {
  position:absolute;
  left:137px;
  top:537px;
  width:140px;
  height:41px;
}
#u2062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
