body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2497 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2499 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u2500 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2501 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u2502 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2503 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u2504 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2505 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u2506 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2507 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u2508 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2509 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u2510 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u2511 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u2512 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u2496_ann {
  position:absolute;
  left:843px;
  top:6px;
  width:1px;
  height:1px;
}
#u2513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2513 {
  position:absolute;
  left:307px;
  top:184px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2514 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2515 {
  position:absolute;
  left:307px;
  top:423px;
  width:145px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2516 {
  position:absolute;
  left:16px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u2515_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u2517 {
  position:absolute;
  left:551px;
  top:423px;
  width:63px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2518 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u2519 {
  position:absolute;
  left:553px;
  top:194px;
  width:63px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2520 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u2521 {
  position:absolute;
  left:513px;
  top:328px;
  width:94px;
  height:32px;
}
#u2522 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2523 {
  position:absolute;
  left:307px;
  top:370px;
  width:300px;
  height:40px;
}
#u2524 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u2525 {
  position:absolute;
  left:307px;
  top:272px;
  width:300px;
  height:40px;
}
#u2525_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u2526 {
  position:absolute;
  left:307px;
  top:222px;
  width:300px;
  height:40px;
}
#u2526_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u2527 {
  position:absolute;
  left:307px;
  top:320px;
  width:177px;
  height:40px;
}
#u2527_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u2528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:72px;
}
#u2528 {
  position:absolute;
  left:50px;
  top:620px;
  width:795px;
  height:72px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2529 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u2530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u2530 {
  position:absolute;
  left:276px;
  top:379px;
  width:20px;
  height:23px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2531 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
