body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1132px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1983 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1985 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1987 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1991 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1994 {
  position:absolute;
  left:55px;
  top:45px;
  width:789px;
  height:38px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:11px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1996 {
  position:absolute;
  left:69px;
  top:56px;
  width:91px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1998 {
  position:absolute;
  left:194px;
  top:56px;
  width:25px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2000 {
  position:absolute;
  left:246px;
  top:56px;
  width:25px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2002 {
  position:absolute;
  left:307px;
  top:56px;
  width:41px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2004 {
  position:absolute;
  left:390px;
  top:56px;
  width:17px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2006 {
  position:absolute;
  left:779px;
  top:56px;
  width:17px;
  height:18px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2009 {
  position:absolute;
  left:812px;
  top:53px;
  width:23px;
  height:23px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:173px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2013 {
  position:absolute;
  left:760px;
  top:87px;
  width:84px;
  height:173px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:78px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
}
#u2015 {
  position:absolute;
  left:760px;
  top:129px;
  width:84px;
  height:32px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
}
#u2016 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2017 {
  position:absolute;
  left:760px;
  top:227px;
  width:84px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2018 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2019 {
  position:absolute;
  left:769px;
  top:102px;
  width:56px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
}
#u2021 {
  position:absolute;
  left:760px;
  top:161px;
  width:84px;
  height:32px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
}
#u2022 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
}
#u2023 {
  position:absolute;
  left:760px;
  top:193px;
  width:84px;
  height:32px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC';
  font-weight:100;
  font-style:normal;
}
#u2024 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2026 {
  position:absolute;
  left:642px;
  top:84px;
  width:169px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:26px;
  width:165px;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2028 {
  position:absolute;
  left:779px;
  top:81px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2031 {
  position:absolute;
  left:87px;
  top:296px;
  width:140px;
  height:31px;
}
#u2031_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2031.mouseOver {
}
#u2032 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2033 {
  position:absolute;
  left:133px;
  top:303px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2033_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2033.mouseOver {
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:114px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2035 {
  position:absolute;
  left:63px;
  top:102px;
  width:769px;
  height:114px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:49px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:123px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2037 {
  position:absolute;
  left:86px;
  top:103px;
  width:101px;
  height:123px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:54px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u2039 {
  position:absolute;
  left:109px;
  top:125px;
  width:51px;
  height:51px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2041 {
  position:absolute;
  left:104px;
  top:120px;
  width:60px;
  height:60px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  position:absolute;
  left:87px;
  top:263px;
  width:140px;
  height:31px;
}
#u2044_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044.mouseOver {
}
#u2045 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2046 {
  position:absolute;
  left:133px;
  top:270px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2046_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2046.mouseOver {
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2048 {
  position:absolute;
  left:266px;
  top:263px;
  width:160px;
  height:249px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  position:absolute;
  left:87px;
  top:329px;
  width:140px;
  height:31px;
}
#u2051_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051.mouseOver {
}
#u2052 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2053 {
  position:absolute;
  left:133px;
  top:337px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2053_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2053.mouseOver {
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2055 {
  position:absolute;
  left:89px;
  top:190px;
  width:92px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:35px;
}
#u2057 {
  position:absolute;
  left:50px;
  top:620px;
  width:795px;
  height:35px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:94px;
}
#u2059 {
  position:absolute;
  left:905px;
  top:206px;
  width:277px;
  height:94px;
  font-family:'.AppleSystemUIFontEmphasized', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u2061 {
  position:absolute;
  left:164px;
  top:150px;
  width:0px;
  height:0px;
}
#u2061_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:730px;
  height:8px;
}
#u2061_seg1 {
  position:absolute;
  left:722px;
  top:-4px;
  width:8px;
  height:111px;
}
#u2061_seg2 {
  position:absolute;
  left:722px;
  top:99px;
  width:19px;
  height:8px;
}
#u2061_seg3 {
  position:absolute;
  left:728px;
  top:93px;
  width:20px;
  height:20px;
}
#u2062 {
  position:absolute;
  left:372px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:24px;
}
#u2063 {
  position:absolute;
  left:50px;
  top:659px;
  width:800px;
  height:24px;
  font-family:'.AppleSystemUIFontEmphasized', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
