body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2611 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2612 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2613 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u2614 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2615 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u2616 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2617 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u2618 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2619 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u2620 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2621 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u2622 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2623 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u2624 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u2625 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u2626 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2628 {
  position:absolute;
  left:55px;
  top:45px;
  width:789px;
  height:38px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:11px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2630 {
  position:absolute;
  left:69px;
  top:56px;
  width:91px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2631 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2632 {
  position:absolute;
  left:194px;
  top:56px;
  width:25px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2633 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2634 {
  position:absolute;
  left:246px;
  top:56px;
  width:25px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2635 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2636 {
  position:absolute;
  left:307px;
  top:56px;
  width:41px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2638 {
  position:absolute;
  left:390px;
  top:56px;
  width:17px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2639 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2640 {
  position:absolute;
  left:758px;
  top:55px;
  width:25px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2641 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2642 {
  position:absolute;
  left:793px;
  top:55px;
  width:34px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2643 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2644 {
  position:absolute;
  left:315px;
  top:199px;
  width:291px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2645 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u2646 {
  position:absolute;
  left:315px;
  top:285px;
  width:91px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#169BD5;
}
#u2647 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
}
#u2648 {
  position:absolute;
  left:315px;
  top:258px;
  width:154px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#169BD5;
}
#u2649 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
