body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:600px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  position:absolute;
  left:50px;
  top:10px;
  width:58px;
  height:600px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:292px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2065 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  white-space:nowrap;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2067 {
  position:absolute;
  left:64px;
  top:30px;
  width:31px;
  height:11px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u2069 {
  position:absolute;
  left:68px;
  top:76px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2071 {
  position:absolute;
  left:68px;
  top:121px;
  width:25px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2073 {
  position:absolute;
  left:68px;
  top:169px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2075 {
  position:absolute;
  left:64px;
  top:545px;
  width:31px;
  height:31px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u2077 {
  position:absolute;
  left:71px;
  top:551px;
  width:17px;
  height:19px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u2079 {
  position:absolute;
  left:59px;
  top:581px;
  width:41px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:21px;
}
#u2081 {
  position:absolute;
  left:50px;
  top:620px;
  width:800px;
  height:21px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2083 {
  position:absolute;
  left:137px;
  top:76px;
  width:140px;
  height:31px;
  color:#E4E4E4;
}
#u2084 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2085 {
  position:absolute;
  left:137px;
  top:109px;
  width:140px;
  height:31px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2087 {
  position:absolute;
  left:182px;
  top:83px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2089 {
  position:absolute;
  left:184px;
  top:117px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:137px;
  top:142px;
  width:140px;
  height:31px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2093 {
  position:absolute;
  left:182px;
  top:150px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2095 {
  position:absolute;
  left:137px;
  top:175px;
  width:140px;
  height:31px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2097 {
  position:absolute;
  left:181px;
  top:183px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2099 {
  position:absolute;
  left:304px;
  top:76px;
  width:495px;
  height:232px;
}
#u2099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:232px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u2100 {
  position:absolute;
  left:653px;
  top:326px;
  width:146px;
  height:41px;
}
#u2100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2101 {
  position:absolute;
  left:137px;
  top:537px;
  width:140px;
  height:41px;
}
#u2101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
