body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:600px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3004 {
  position:absolute;
  left:50px;
  top:10px;
  width:58px;
  height:600px;
}
#u3005 {
  position:absolute;
  left:2px;
  top:292px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3006 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u3007 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  white-space:nowrap;
}
#u3008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u3008 {
  position:absolute;
  left:64px;
  top:30px;
  width:31px;
  height:11px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u3009 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u3010 {
  position:absolute;
  left:68px;
  top:76px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u3011 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u3012 {
  position:absolute;
  left:68px;
  top:121px;
  width:25px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u3013 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u3014 {
  position:absolute;
  left:68px;
  top:169px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u3015 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3016 {
  position:absolute;
  left:64px;
  top:545px;
  width:31px;
  height:31px;
}
#u3017 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u3018 {
  position:absolute;
  left:71px;
  top:551px;
  width:17px;
  height:19px;
}
#u3019 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u3020 {
  position:absolute;
  left:59px;
  top:581px;
  width:41px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u3021 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:21px;
}
#u3022 {
  position:absolute;
  left:50px;
  top:620px;
  width:800px;
  height:21px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3023 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u3024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u3024 {
  position:absolute;
  left:137px;
  top:76px;
  width:140px;
  height:31px;
  color:#E4E4E4;
}
#u3025 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3026 {
  position:absolute;
  left:137px;
  top:109px;
  width:140px;
  height:31px;
}
#u3027 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3028 {
  position:absolute;
  left:182px;
  top:83px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3030 {
  position:absolute;
  left:184px;
  top:117px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3031 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3032 {
  position:absolute;
  left:137px;
  top:142px;
  width:140px;
  height:31px;
}
#u3033 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3034 {
  position:absolute;
  left:182px;
  top:150px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3035 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3036 {
  position:absolute;
  left:137px;
  top:175px;
  width:140px;
  height:31px;
}
#u3037 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3038 {
  position:absolute;
  left:181px;
  top:183px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3039 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3040 {
  position:absolute;
  left:304px;
  top:76px;
  width:495px;
  height:232px;
}
#u3040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:232px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u3041 {
  position:absolute;
  left:653px;
  top:326px;
  width:146px;
  height:41px;
}
#u3041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3042 {
  position:absolute;
  left:137px;
  top:537px;
  width:140px;
  height:41px;
}
#u3042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
