body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u536 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u537 {
  position:absolute;
  left:288px;
  top:208px;
  width:352px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u538 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u539 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u540 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u541 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u542 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u543 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u544 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u545 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u546 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u547 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u548 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u549 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u550 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u551 {
  position:absolute;
  left:288px;
  top:258px;
  width:352px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u552 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u553 {
  position:absolute;
  left:307px;
  top:325px;
  width:300px;
  height:40px;
}
#u554 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:27px;
}
#u555 {
  position:absolute;
  left:50px;
  top:620px;
  width:795px;
  height:27px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u556 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
