body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1504 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u1505 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1506 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u1507 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1508 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1510 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u1511 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1512 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u1513 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1514 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u1515 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1516 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u1517 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u1518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1518 {
  position:absolute;
  left:310px;
  top:180px;
  width:145px;
  height:23px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1519 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u1520 {
  position:absolute;
  left:310px;
  top:222px;
  width:100px;
  height:18px;
}
#u1521 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1520_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1522 {
  position:absolute;
  left:400px;
  top:222px;
  width:100px;
  height:18px;
}
#u1523 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1522_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1524 {
  position:absolute;
  left:500px;
  top:223px;
  width:100px;
  height:18px;
}
#u1525 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1524_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1526 {
  position:absolute;
  left:310px;
  top:257px;
  width:318px;
  height:40px;
}
#u1526_input {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u1527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1527 {
  position:absolute;
  left:319px;
  top:412px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1528 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:72px;
}
#u1529 {
  position:absolute;
  left:50px;
  top:620px;
  width:795px;
  height:72px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1531 {
  position:absolute;
  left:386px;
  top:462px;
  width:43px;
  height:50px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
