body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2445 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u2446 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2447 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u2448 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2449 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u2450 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2451 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u2452 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2453 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u2454 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2455 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u2456 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u2457 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u2458 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u2459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2459 {
  position:absolute;
  left:310px;
  top:180px;
  width:145px;
  height:23px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2460 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u2461 {
  position:absolute;
  left:310px;
  top:222px;
  width:100px;
  height:18px;
}
#u2462 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2461_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2463 {
  position:absolute;
  left:400px;
  top:222px;
  width:100px;
  height:18px;
}
#u2464 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2463_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2465 {
  position:absolute;
  left:500px;
  top:223px;
  width:100px;
  height:18px;
}
#u2466 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2465_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2467 {
  position:absolute;
  left:310px;
  top:257px;
  width:318px;
  height:40px;
}
#u2467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u2468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2468 {
  position:absolute;
  left:319px;
  top:412px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2469 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u2470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:72px;
}
#u2470 {
  position:absolute;
  left:50px;
  top:620px;
  width:795px;
  height:72px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2471 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u2472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u2472 {
  position:absolute;
  left:386px;
  top:462px;
  width:43px;
  height:50px;
}
#u2473 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
