body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1220 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u1221 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1222 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1224 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1226 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1228 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1230 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1232 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u1217_ann {
  position:absolute;
  left:843px;
  top:6px;
  width:1px;
  height:1px;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:39px;
}
#u1234 {
  position:absolute;
  left:50px;
  top:620px;
  width:795px;
  height:39px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:52px;
}
#u1236 {
  position:absolute;
  left:53px;
  top:681px;
  width:795px;
  height:52px;
  font-family:'.AppleSystemUIFontEmphasized', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1238 {
  position:absolute;
  left:308px;
  top:158px;
  width:113px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1240 {
  position:absolute;
  left:308px;
  top:375px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1241 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u1242 {
  position:absolute;
  left:308px;
  top:308px;
  width:300px;
  height:40px;
}
#u1242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u1243 {
  position:absolute;
  left:530px;
  top:318px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1245 {
  position:absolute;
  left:308px;
  top:258px;
  width:300px;
  height:40px;
}
#u1245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1246 {
  position:absolute;
  left:308px;
  top:208px;
  width:300px;
  height:40px;
}
#u1246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
