body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:600px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2872 {
  position:absolute;
  left:50px;
  top:10px;
  width:58px;
  height:600px;
}
#u2873 {
  position:absolute;
  left:2px;
  top:292px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2874 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u2875 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  white-space:nowrap;
}
#u2876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2876 {
  position:absolute;
  left:64px;
  top:30px;
  width:31px;
  height:11px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2877 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u2878 {
  position:absolute;
  left:68px;
  top:76px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u2879 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2880 {
  position:absolute;
  left:68px;
  top:121px;
  width:25px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2881 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2882 {
  position:absolute;
  left:68px;
  top:169px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u2883 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2884 {
  position:absolute;
  left:64px;
  top:545px;
  width:31px;
  height:31px;
}
#u2885 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u2886 {
  position:absolute;
  left:71px;
  top:551px;
  width:17px;
  height:19px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u2888 {
  position:absolute;
  left:59px;
  top:581px;
  width:41px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u2889 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:21px;
}
#u2890 {
  position:absolute;
  left:50px;
  top:620px;
  width:780px;
  height:21px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2891 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u2892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2892 {
  position:absolute;
  left:137px;
  top:76px;
  width:140px;
  height:31px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2894 {
  position:absolute;
  left:137px;
  top:109px;
  width:140px;
  height:31px;
}
#u2895 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2896 {
  position:absolute;
  left:182px;
  top:83px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2897 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2898 {
  position:absolute;
  left:312px;
  top:76px;
  width:115px;
  height:249px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2899 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2900 {
  position:absolute;
  left:182px;
  top:117px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2901 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2902 {
  position:absolute;
  left:137px;
  top:142px;
  width:140px;
  height:31px;
}
#u2903 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2904 {
  position:absolute;
  left:182px;
  top:150px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2905 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2906 {
  position:absolute;
  left:137px;
  top:175px;
  width:140px;
  height:31px;
}
#u2907 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2908 {
  position:absolute;
  left:181px;
  top:183px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2909 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2910 {
  position:absolute;
  left:137px;
  top:537px;
  width:140px;
  height:41px;
}
#u2910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
