body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2650 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2651 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u2652 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  white-space:nowrap;
}
#u2653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2653 {
  position:absolute;
  left:198px;
  top:282px;
  width:147px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2654 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2655 {
  position:absolute;
  left:390px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2656 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u2657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u2657 {
  position:absolute;
  left:283px;
  top:375px;
  width:70px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2658 {
  position:absolute;
  left:2px;
  top:21px;
  width:66px;
  word-wrap:break-word;
}
#u2659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:95px;
}
#u2659 {
  position:absolute;
  left:198px;
  top:472px;
  width:103px;
  height:95px;
}
#u2660 {
  position:absolute;
  left:2px;
  top:38px;
  width:99px;
  word-wrap:break-word;
}
#u2661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u2661 {
  position:absolute;
  left:703px;
  top:154px;
  width:110px;
  height:70px;
}
#u2662 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u2663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2663 {
  position:absolute;
  left:268px;
  top:159px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2664 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u2665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2665 {
  position:absolute;
  left:522px;
  top:159px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2666 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2667 {
  position:absolute;
  left:268px;
  top:272px;
  width:100px;
  height:60px;
}
#u2668 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u2669 {
  position:absolute;
  left:622px;
  top:189px;
  width:0px;
  height:0px;
}
#u2669_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u2669_seg1 {
  position:absolute;
  left:68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2670 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2671 {
  position:absolute;
  left:318px;
  top:219px;
  width:0px;
  height:0px;
}
#u2671_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u2671_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u2672 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2673 {
  position:absolute;
  left:318px;
  top:332px;
  width:0px;
  height:0px;
}
#u2673_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u2673_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u2674 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2675 {
  position:absolute;
  left:666px;
  top:487px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2676 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u2677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2677 {
  position:absolute;
  left:728px;
  top:50px;
  width:61px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2678 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2679 {
  position:absolute;
  left:71px;
  top:272px;
  width:134px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2680 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u2681 {
  position:absolute;
  left:440px;
  top:110px;
  width:0px;
  height:0px;
}
#u2681_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u2681_seg1 {
  position:absolute;
  left:-126px;
  top:26px;
  width:130px;
  height:8px;
}
#u2681_seg2 {
  position:absolute;
  left:-126px;
  top:26px;
  width:8px;
  height:23px;
}
#u2681_seg3 {
  position:absolute;
  left:-132px;
  top:36px;
  width:20px;
  height:20px;
}
#u2682 {
  position:absolute;
  left:-106px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2683 {
  position:absolute;
  left:572px;
  top:159px;
  width:0px;
  height:0px;
}
#u2683_seg0 {
  position:absolute;
  left:-4px;
  top:-22px;
  width:8px;
  height:22px;
}
#u2683_seg1 {
  position:absolute;
  left:-137px;
  top:-22px;
  width:141px;
  height:8px;
}
#u2683_seg2 {
  position:absolute;
  left:-137px;
  top:-50px;
  width:8px;
  height:36px;
}
#u2683_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2684 {
  position:absolute;
  left:-124px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:95px;
}
#u2685 {
  position:absolute;
  left:337px;
  top:472px;
  width:103px;
  height:95px;
}
#u2686 {
  position:absolute;
  left:2px;
  top:38px;
  width:99px;
  word-wrap:break-word;
}
#u2687 {
  position:absolute;
  left:283px;
  top:405px;
  width:0px;
  height:0px;
}
#u2687_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2687_seg1 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:71px;
}
#u2687_seg2 {
  position:absolute;
  left:-43px;
  top:54px;
  width:20px;
  height:20px;
}
#u2688 {
  position:absolute;
  left:-83px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2689 {
  position:absolute;
  left:353px;
  top:405px;
  width:0px;
  height:0px;
}
#u2689_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u2689_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:71px;
}
#u2689_seg2 {
  position:absolute;
  left:26px;
  top:54px;
  width:20px;
  height:20px;
}
#u2690 {
  position:absolute;
  left:-14px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2691 {
  position:absolute;
  left:440px;
  top:520px;
  width:0px;
  height:0px;
}
#u2691_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u2691_seg1 {
  position:absolute;
  left:206px;
  top:-50px;
  width:8px;
  height:54px;
}
#u2691_seg2 {
  position:absolute;
  left:206px;
  top:-50px;
  width:116px;
  height:8px;
}
#u2691_seg3 {
  position:absolute;
  left:314px;
  top:-296px;
  width:8px;
  height:254px;
}
#u2691_seg4 {
  position:absolute;
  left:308px;
  top:-303px;
  width:20px;
  height:20px;
}
#u2692 {
  position:absolute;
  left:211px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
