body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1710 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  white-space:nowrap;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1712 {
  position:absolute;
  left:198px;
  top:282px;
  width:147px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1713 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1714 {
  position:absolute;
  left:390px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1715 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u1716 {
  position:absolute;
  left:283px;
  top:375px;
  width:70px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1717 {
  position:absolute;
  left:2px;
  top:21px;
  width:66px;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:95px;
}
#u1718 {
  position:absolute;
  left:198px;
  top:472px;
  width:103px;
  height:95px;
}
#u1719 {
  position:absolute;
  left:2px;
  top:38px;
  width:99px;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u1720 {
  position:absolute;
  left:703px;
  top:154px;
  width:110px;
  height:70px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1722 {
  position:absolute;
  left:268px;
  top:159px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1723 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1724 {
  position:absolute;
  left:522px;
  top:159px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1725 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1726 {
  position:absolute;
  left:268px;
  top:272px;
  width:100px;
  height:60px;
}
#u1727 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u1728 {
  position:absolute;
  left:622px;
  top:189px;
  width:0px;
  height:0px;
}
#u1728_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1728_seg1 {
  position:absolute;
  left:68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1729 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730 {
  position:absolute;
  left:318px;
  top:219px;
  width:0px;
  height:0px;
}
#u1730_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1730_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u1731 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732 {
  position:absolute;
  left:318px;
  top:332px;
  width:0px;
  height:0px;
}
#u1732_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u1732_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u1733 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1734 {
  position:absolute;
  left:666px;
  top:487px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1735 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1736 {
  position:absolute;
  left:728px;
  top:50px;
  width:61px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1737 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1738 {
  position:absolute;
  left:71px;
  top:272px;
  width:134px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1739 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u1740 {
  position:absolute;
  left:440px;
  top:110px;
  width:0px;
  height:0px;
}
#u1740_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1740_seg1 {
  position:absolute;
  left:-126px;
  top:26px;
  width:130px;
  height:8px;
}
#u1740_seg2 {
  position:absolute;
  left:-126px;
  top:26px;
  width:8px;
  height:23px;
}
#u1740_seg3 {
  position:absolute;
  left:-132px;
  top:36px;
  width:20px;
  height:20px;
}
#u1741 {
  position:absolute;
  left:-106px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742 {
  position:absolute;
  left:572px;
  top:159px;
  width:0px;
  height:0px;
}
#u1742_seg0 {
  position:absolute;
  left:-4px;
  top:-22px;
  width:8px;
  height:22px;
}
#u1742_seg1 {
  position:absolute;
  left:-137px;
  top:-22px;
  width:141px;
  height:8px;
}
#u1742_seg2 {
  position:absolute;
  left:-137px;
  top:-50px;
  width:8px;
  height:36px;
}
#u1742_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u1743 {
  position:absolute;
  left:-124px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:95px;
}
#u1744 {
  position:absolute;
  left:337px;
  top:472px;
  width:103px;
  height:95px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:38px;
  width:99px;
  word-wrap:break-word;
}
#u1746 {
  position:absolute;
  left:283px;
  top:405px;
  width:0px;
  height:0px;
}
#u1746_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u1746_seg1 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:71px;
}
#u1746_seg2 {
  position:absolute;
  left:-43px;
  top:54px;
  width:20px;
  height:20px;
}
#u1747 {
  position:absolute;
  left:-83px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748 {
  position:absolute;
  left:353px;
  top:405px;
  width:0px;
  height:0px;
}
#u1748_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u1748_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:71px;
}
#u1748_seg2 {
  position:absolute;
  left:26px;
  top:54px;
  width:20px;
  height:20px;
}
#u1749 {
  position:absolute;
  left:-14px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750 {
  position:absolute;
  left:440px;
  top:520px;
  width:0px;
  height:0px;
}
#u1750_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u1750_seg1 {
  position:absolute;
  left:206px;
  top:-50px;
  width:8px;
  height:54px;
}
#u1750_seg2 {
  position:absolute;
  left:206px;
  top:-50px;
  width:116px;
  height:8px;
}
#u1750_seg3 {
  position:absolute;
  left:314px;
  top:-296px;
  width:8px;
  height:254px;
}
#u1750_seg4 {
  position:absolute;
  left:308px;
  top:-303px;
  width:20px;
  height:20px;
}
#u1751 {
  position:absolute;
  left:211px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
