body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1633 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1634 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u1635 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1636 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u1637 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1638 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1640 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1642 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1644 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1646 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u1647 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u1648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1649 {
  position:absolute;
  left:55px;
  top:45px;
  width:789px;
  height:38px;
}
#u1650 {
  position:absolute;
  left:2px;
  top:11px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1651 {
  position:absolute;
  left:69px;
  top:56px;
  width:91px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1652 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1653 {
  position:absolute;
  left:194px;
  top:56px;
  width:25px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1654 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1655 {
  position:absolute;
  left:246px;
  top:56px;
  width:25px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1656 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1657 {
  position:absolute;
  left:307px;
  top:56px;
  width:41px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1658 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1659 {
  position:absolute;
  left:390px;
  top:56px;
  width:17px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1660 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1661 {
  position:absolute;
  left:758px;
  top:55px;
  width:25px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1662 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1663 {
  position:absolute;
  left:793px;
  top:55px;
  width:34px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1664 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1665 {
  position:absolute;
  left:315px;
  top:205px;
  width:314px;
  height:65px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1666 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u1667 {
  position:absolute;
  left:315px;
  top:280px;
  width:91px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#169BD5;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
