body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:895px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2421 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u2422 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2423 {
  position:absolute;
  left:288px;
  top:222px;
  width:352px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2424 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2425 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u2426 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2427 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u2428 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2429 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u2430 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2431 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u2432 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2433 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u2434 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u2435 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u2436 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u2437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u2437 {
  position:absolute;
  left:288px;
  top:300px;
  width:352px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u2438 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2439 {
  position:absolute;
  left:314px;
  top:332px;
  width:300px;
  height:40px;
}
#u2440 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u2441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:115px;
}
#u2441 {
  position:absolute;
  left:55px;
  top:634px;
  width:890px;
  height:115px;
  font-family:'.AppleSystemUIFontEmphasized', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2442 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  word-wrap:break-word;
}
#u2443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#199ED8;
}
#u2443 {
  position:absolute;
  left:288px;
  top:262px;
  width:234px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#199ED8;
}
#u2444 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
