body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:600px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1970 {
  position:absolute;
  left:50px;
  top:10px;
  width:58px;
  height:600px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:292px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  white-space:nowrap;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u1974 {
  position:absolute;
  left:64px;
  top:30px;
  width:31px;
  height:11px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u1976 {
  position:absolute;
  left:68px;
  top:76px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u1978 {
  position:absolute;
  left:68px;
  top:121px;
  width:25px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u1980 {
  position:absolute;
  left:68px;
  top:169px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1982 {
  position:absolute;
  left:64px;
  top:545px;
  width:31px;
  height:31px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1984 {
  position:absolute;
  left:71px;
  top:551px;
  width:17px;
  height:19px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u1986 {
  position:absolute;
  left:59px;
  top:581px;
  width:41px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#0099CC;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:21px;
}
#u1988 {
  position:absolute;
  left:50px;
  top:620px;
  width:800px;
  height:21px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u1990 {
  position:absolute;
  left:137px;
  top:76px;
  width:140px;
  height:31px;
  color:#E4E4E4;
}
#u1991 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1992 {
  position:absolute;
  left:137px;
  top:109px;
  width:140px;
  height:31px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1994 {
  position:absolute;
  left:182px;
  top:83px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1996 {
  position:absolute;
  left:184px;
  top:117px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1998 {
  position:absolute;
  left:137px;
  top:142px;
  width:140px;
  height:31px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2000 {
  position:absolute;
  left:182px;
  top:150px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2002 {
  position:absolute;
  left:137px;
  top:175px;
  width:140px;
  height:31px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2004 {
  position:absolute;
  left:181px;
  top:183px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2006 {
  position:absolute;
  left:304px;
  top:71px;
  width:301px;
  height:43px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2008 {
  position:absolute;
  left:399px;
  top:113px;
  width:300px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2009 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2010 {
  position:absolute;
  left:399px;
  top:164px;
  width:300px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2011 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2012 {
  position:absolute;
  left:399px;
  top:243px;
  width:300px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2013 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u2014 {
  position:absolute;
  left:399px;
  top:215px;
  width:183px;
  height:18px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u2016 {
  position:absolute;
  left:304px;
  top:124px;
  width:40px;
  height:18px;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u2018 {
  position:absolute;
  left:304px;
  top:176px;
  width:40px;
  height:18px;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u2020 {
  position:absolute;
  left:304px;
  top:255px;
  width:66px;
  height:18px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2022 {
  position:absolute;
  left:348px;
  top:317px;
  width:300px;
  height:41px;
}
#u2022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2023 {
  position:absolute;
  left:137px;
  top:537px;
  width:140px;
  height:41px;
}
#u2023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
