body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1428 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u1429 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1430 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1432 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u1433 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1434 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u1435 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1436 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u1437 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1438 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u1440 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u1441 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1442 {
  position:absolute;
  left:250px;
  top:172px;
  width:204px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1443 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1444 {
  position:absolute;
  left:374px;
  top:438px;
  width:155px;
  height:23px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1445 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#169BD5;
  text-align:center;
}
#u1446 {
  position:absolute;
  left:250px;
  top:204px;
  width:148px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#169BD5;
  text-align:center;
}
#u1447 {
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#169BD5;
}
#u1448 {
  position:absolute;
  left:409px;
  top:204px;
  width:79px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#169BD5;
}
#u1449 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u1450 {
  position:absolute;
  left:499px;
  top:204px;
  width:79px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u1451 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u1452 {
  position:absolute;
  left:588px;
  top:204px;
  width:107px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u1453 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1454 {
  position:absolute;
  left:250px;
  top:275px;
  width:48px;
  height:23px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1456 {
  position:absolute;
  left:250px;
  top:326px;
  width:60px;
  height:23px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1457 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1458 {
  position:absolute;
  left:320px;
  top:267px;
  width:122px;
  height:40px;
}
#u1458_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:center;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1459 {
  position:absolute;
  left:452px;
  top:276px;
  width:48px;
  height:23px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1460 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u1461 {
  position:absolute;
  left:320px;
  top:317px;
  width:122px;
  height:40px;
}
#u1461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:center;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1462 {
  position:absolute;
  left:452px;
  top:326px;
  width:48px;
  height:23px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1464 {
  position:absolute;
  left:198px;
  top:100px;
  width:121px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:4px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  position:absolute;
  left:198px;
  top:137px;
  width:175px;
  height:4px;
}
#u1467 {
  position:absolute;
  left:2px;
  top:-6px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:4px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1468 {
  position:absolute;
  left:375px;
  top:137px;
  width:175px;
  height:4px;
}
#u1469 {
  position:absolute;
  left:2px;
  top:-6px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:4px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1470 {
  position:absolute;
  left:553px;
  top:137px;
  width:175px;
  height:4px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:-6px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472 {
  position:absolute;
  left:478px;
  top:268px;
  width:217px;
  height:40px;
}
#u1472_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:center;
}
#u1473 {
  position:absolute;
  left:478px;
  top:318px;
  width:217px;
  height:40px;
}
#u1473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:center;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1474 {
  position:absolute;
  left:313px;
  top:388px;
  width:300px;
  height:40px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u1476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:72px;
}
#u1476 {
  position:absolute;
  left:50px;
  top:620px;
  width:795px;
  height:72px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u1478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u1478 {
  position:absolute;
  left:278px;
  top:397px;
  width:20px;
  height:23px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1479 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u1480 {
  position:absolute;
  left:366px;
  top:438px;
  width:20px;
  height:23px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1481 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
